@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

::-webkit-scrollbar {
  width: 0px; 
}
html{
    scroll-behavior: auto;
}

.display-1{
  font-family: 'Roboto Slab';
  text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
}

/* Mobile */
.introduction.hidden, .contain.hidden{
    display: none !important;
}
.introduction{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color:#55423d;
    z-index: 99999;
    overflow-y: hidden;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: #795D55 !important;
}
.contain{
    position: fixed;
    font-family: 'Roboto Slab';
    font-size: 20px;
    left: 50%;
    top: 25%;
    line-height: 2.5rem !important;
    transform: translate(-50%, -50%);
    color: #290A06;
    text-shadow: 3px 3px #290a0655;
    text-align: center;
}
.megamendung{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(img/Megamendung.svg);
    top: 0;
    background-size: cover;
    background-position: -200px 0px;
    opacity: 0.25;
    z-index: 1;
}
#hero{
    height: 100vh;
    background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
}
#navbar{
    position: absolute;
    top: 15vh;
    z-index: 10;
}
.bg-javanese{
    background-color: #55423d;
}

/* About */
h1.text-center{
  font-size: 1.5rem !important;
}
#about .container-fluid{
    background-color: #55423d;
    color: #fffffe;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: .5rem !important;
    padding: 5px !important;
}
.text{
  text-align: center !important;
}
 /* Loading.. */
 .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* Akhir Loading */
/* Navbar */
.nav-item > *{
  font-family: 'Roboto Slab';
  color: #fffffe !important;
  font-size: 0.5rem !important;
}

.nav-item > *:hover{
  border-bottom: 2px solid salmon;
  font-family: 'Roboto Slab';
  color: #e78fb3 !important;
  font-size: 0.5rem !important;
  transition: .5s;
}

/* Tablets */

@media (min-width: 768px) { 
    .introduction.hidden .contain.hidden{
        display: none !important;
    }
    .introduction{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        background-color:#55423d;
        z-index: 99999;
    }
    .display-1{
      font-family: 'Roboto Slab';
      text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    body{
        font-family: 'Roboto Slab', serif;
        background-color: #795D55 !important;
    }
    .contain{
        position: fixed;
        font-size: 70px !important;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 40%;
        line-height: 4rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
    }
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
    }
    #navbar{
        position: absolute;
        top: 15vh;
        z-index: 10;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    /* About */
    h1.text-center{
      font-size: 2.5rem !important;
      margin-top: 10rem !important;
    }
    #about .container-fluid{
        background-color: #55423d;
        color: #fffffe;
        text-align: center;
        font-family: 'Roboto Slab';
        font-size: 1rem !important;
        padding: 5px !important;
    }
    .text{
      text-align: left !important;
    }
     /* Loading.. */
     .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */
    /* Navbar */
    .navbar-brand{
      font-size: 2rem !important;
      font-family: 'Roboto Slab';
      color: #e78fb3 !important;
      text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    }
    .nav-item > *{
      font-family: 'Roboto Slab';
      color: #fffffe !important;
      font-size: 1.2rem !important;
    }

    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Roboto Slab';
      color: #e78fb3 !important;
      font-size: 1.2rem !important;
      transition: .5s;
    }
}


/* Laptop */

@media (min-width: 1024px){
    .introduction.hidden .contain.hidden{
        display: none !important;
    }
    .display-1{
        font-family: 'Roboto Slab';
        text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    .introduction{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        background-color: #55423d;
        z-index: 99999;
    }
    /* Text Hero */
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    body{
        font-family: 'Roboto Slab', serif;
        background-color: #795D55 !important;
    }
    .contain{
        position: fixed;
        font-size: 90px !important;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 45%;
        line-height: 5rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
    }
    
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
    }
    /* Awal Hero dan Navbar */
    #navbar{
        position: absolute;
        z-index: 10;
        top: 16vh;
    }
    .bg-javanese{
        background-color: #55423d;
        color: #FFFFFe !important;
    }
    /* About */
    #about .container-fluid{
        min-height: 700px;
        background-color: #55423d;
        color: #fffffe;
        font-family: 'Roboto Slab';
        font-size: 1rem !important;
    }
    .text{
      text-align: left !important;
    }
    /* Loading.. */
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */


    /* Navbar */
    .nav-item > *{
      font-family: 'Roboto Slab';
      color: #fffffe !important;
      font-size: 1.2rem !important;
    }

    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Roboto Slab';
      color: #e78fb3 !important;
      font-size: 1.2rem !important;
      transition: .5s;
    }
    .nav.fixed-top{
      background-color: #55423d;
      padding: 20px;
      box-shadow: 2px 0px rgba(0, 0, 0, 0.25);
    }
}

/* large Laptop */

@media (min-width: 1440px){
    .introduction.hidden .contain.hidden{
        display: none !important;
        transition: 3s;
    }
    .introduction{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color:#55423d;
        z-index: 99999;
    }
    .display-1{
      font-family: 'Roboto Slab';
      text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    body{
        background-color: #8A6A60 !important;
        font-family: 'Roboto Slab', serif;
        -webkit-overflow-scrolling: hidden;
        overflow-x: hidden;
    }
    .contain{
        position: absolute;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 45%;
        font-size: 120px !important;
        line-height: 6rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-align: center;
    }
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad, #55423d);
    }
    #navbar{
        position: absolute;
        top: 15vh;
        z-index: 10;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    #about .container-fluid{
        min-height: 1000px;
        background-color: #55423d;
    }
    h1.text-center{
      font-size: 4rem !important;
    }
    #about .container-fluid{
        background-color: #55423d;
        color: #fffffe;
        text-align: center;
        font-family: 'Roboto Slab';
        font-size: 1.5rem !important;
    }
    .text{
      text-align: left !important;
    }
     /* Loading.. */
     .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */

    /* Navbar */
    .nav-item > *{
      font-family: 'Roboto Slab';
      color: #fffffe !important;
      font-size: 2rem !important;
    }

    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Roboto Slab';
      color: #e78fb3 !important;
      font-size: 2rem !important;
      transition: .5s;
    }
}


