@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');




/* Mobile */
body{
    background-color: #8A6A60  !important;
    font-family: 'Roboto Slab', serif;
}
.contain{
    position: fixed;
    font-family: 'Roboto Slab';
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: #290A06;
    text-shadow: 3px 3px #290a0655;
    text-align: center;
}

#hero{
    height: 100vh;
    background-image: radial-gradient(#ffc0ad, #55423d);
}
#navbar{
    position: absolute;
    top: 15vh;
}
.bg-javanese{
    background-color: #55423d;
}
#about .container-fluid{
    height: 1000px;
    background-color: #55423d;
}


/* Tablets */

@media (min-width: 768px) { 
    body{
        background-color: #8A6A60  !important;
        font-family: 'Roboto Slab', serif;
    }
    .contain{
        position: fixed;
        font-size: 70px !important;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
    }
    
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad, #55423d);
    }
    #navbar{
        position: absolute;
        top: 15vh;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    #about .container-fluid{
        height: 1000px;
        background-color: #55423d;
    }
    
}


/* Laptop */

@media (min-width: 1024px){
    body{
        font-family: 'Roboto Slab', serif;
        background-color: #8A6A60 !important;
    }
    .contain{
        position: fixed;
        font-size: 90px !important;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
    }
    
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad, #55423d);
    }
    #navbar{
        position: absolute;
        top: 15vh;
    }
    .bg-javanese{
        background-color: #55423d;
        color: #FFFFFe !important;
    }
    #about .container-fluid{
        height: 1000px;
        background-color: #55423d;
    }
    
}

/* large Laptop */

@media (min-width: 1440px){
    body{
        background-color: #8A6A60 !important;
        font-family: 'Roboto Slab', serif;
    }
    .contain{
        position: absolute;
        font-family: 'Roboto Slab';
        left: 50%;
        top: 40%;
        font-size: 120px !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-align: center;
    }
    
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad, #55423d);
    }
    #navbar{
        position: absolute;
        top: 15vh;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    #about .container-fluid{
        height: 1000px;
        background-color: #55423d;
    }
    
}


